/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 90px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main content styles */
  main {
    padding: 40px;
  }
  
  h1 {
    color: #fff;
  }
  
  form {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
  }
  
  form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  form a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .planet-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .planet {
    width: calc(50% - 20px); /* Adjust width as needed */
    margin: 10px;
  }
  
  .gltf-viewer {
    width: 100%;
    height: auto;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    list-style-type: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}
  